.preview-output-container {
  display: flex;
  flex-direction: column;
  gap: var(--dl-layout-space-unit);
  width: 100%;
}

.preview-output-box {
  height: 300px;
  width: 100%;
  background-color: var(--dl-color-gray-900);
  border-radius: var(--dl-radius-radius-radius4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-output-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.preview-output-placeholder {
  color: var(--dl-color-gray-500);
}