.admin-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.admin-page-text10 {
  display: inline-block;
}
 
.admin-page-text11 {
  display: inline-block;
}
 
.admin-page-text12 {
  display: inline-block;
}
 
.admin-page-text13 {
  display: inline-block;
}
 
.admin-page-text14 {
  display: inline-block;
}
 
.admin-page-text15 {
  display: inline-block;
}
 
.admin-page-text16 {
  display: inline-block;
}
 
.admin-page-text17 {
  display: inline-block;
}
 
.admin-page-text18 {
  display: inline-block;
}
 
.admin-page-text19 {
  display: inline-block;
}
 
.admin-page-text20 {
  display: inline-block;
}
 
.admin-page-text21 {
  display: inline-block;
}
 
.admin-page-text22 {
  display: inline-block;
}
 
.admin-page-text23 {
  display: inline-block;
}
 
.admin-page-text24 {
  display: inline-block;
}
 
.admin-page-text25 {
  display: inline-block;
}
 
.admin-page-text26 {
  display: inline-block;
}
 
.admin-page-text27 {
  display: inline-block;
}
 
.admin-page-text28 {
  display: inline-block;
}
 
.admin-page-text29 {
  display: inline-block;
}
 
.admin-page-text30 {
  display: inline-block;
}
 
.admin-page-text31 {
  display: inline-block;
}
 
.admin-page-text32 {
  display: inline-block;
}
 
.admin-page-text33 {
  display: inline-block;
}
 
.admin-page-text34 {
  display: inline-block;
}
 
.admin-page-text35 {
  display: inline-block;
}
 
.admin-page-text36 {
  display: inline-block;
}
 
.admin-page-text37 {
  display: inline-block;
}
 
.admin-page-text38 {
  display: inline-block;
}
 
.admin-page-text39 {
  display: inline-block;
}
 
.admin-page-text40 {
  display: inline-block;
}
 
.admin-page-text41 {
  display: inline-block;
}
 
.admin-page-text42 {
  display: inline-block;
}
 
.admin-page-text43 {
  display: inline-block;
}
 
.admin-page-text44 {
  display: inline-block;
}
 
.admin-page-text45 {
  display: inline-block;
}
