.visitor-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.visitor-page-text10 {
  display: inline-block;
}
 
.visitor-page-text11 {
  display: inline-block;
}
 
.visitor-page-text12 {
  display: inline-block;
}
 
.visitor-page-text13 {
  display: inline-block;
}
 
.visitor-page-text14 {
  display: inline-block;
}
 
.visitor-page-text15 {
  display: inline-block;
}
 
.visitor-page-text16 {
  display: inline-block;
}
 
.visitor-page-text17 {
  display: inline-block;
}
 
.visitor-page-text18 {
  display: inline-block;
}
 
.visitor-page-text19 {
  display: inline-block;
}
 
.visitor-page-text20 {
  display: inline-block;
}
 
.visitor-page-text21 {
  display: inline-block;
}
 
.visitor-page-text22 {
  display: inline-block;
}
 
.visitor-page-text23 {
  display: inline-block;
}
 
.visitor-page-text24 {
  display: inline-block;
}
 
.visitor-page-text25 {
  display: inline-block;
}
 
.visitor-page-text26 {
  display: inline-block;
}
 
.visitor-page-text27 {
  display: inline-block;
}
 
.visitor-page-text28 {
  display: inline-block;
}
 
.visitor-page-text29 {
  display: inline-block;
}
 
.visitor-page-text30 {
  display: inline-block;
}
 
.visitor-page-text31 {
  display: inline-block;
}
 
.visitor-page-text32 {
  display: inline-block;
}
